.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0;
}
.grid.align-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.grid.align-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.grid.align-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.grid.align-middle {
  -webkit-align-items: center;
  align-items: center;
}
.grid.pad-all {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

header .grid.pad-all {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.grid.pad-all > .tile {
  padding-left: 20px;
  padding-right: 20px;
}
.grid.stack-all > .tile {
  margin-top: 35px !important;
}
.grid .tile {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.grid .tile.auto {
  width: auto;
}

@media only screen and (min-width: 768px) {
  .grid.equal-height {
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  .grid .tile.pull-left {
    float: left;
  }
  .grid .tile.pull-right {
    float: right;
  }
  .grid .tile.onehalf {
    width: 50%;
  }
  .grid .tile.onequarter {
    width: 25%;
  }
  .grid .tile.onethird {
    width: 33.3%;
  }
  .grid .tile.twothirds {
    width: 66.6%;
  }
  .grid .tile.threequarters {
    width: 75%;
  }
  .grid .tile.onefifth {
    width: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .grid.stack {
    margin-top: -35px;
  }
  .grid.stack > .tile {
    margin-top: 35px;
  }

  .grid .tile.mobile-onehalf {
    width: 50%;
  }
}
.align-left {
  float: left;
}

.align-right {
  float: right;
}

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.container {
  max-width: 1100px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hidden {
  display: none !important;
}

img.aligncenter {
  display: block;
  margin: auto;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
}

.page-wrapper {
  overflow: hidden;
}

.primary-content {
  padding: 40px 0;
}
.primary-content:after {
  content: "";
  display: block;
  clear: both;
}

.spacer {
  margin-top: 35px !important;
}
.spacer-bottom {
  margin-bottom: 35px !important;
}

@media only screen and (min-width: 768px) {
  img.alignright {
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
  }

  img.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
.navigation-menu {
  display: inline-block;
  vertical-align: middle;
}
.navigation-menu ul {
  display: inline-block;
  position: relative;
  width: 100%;
}
.navigation-menu ul li {
  display: inline-block;
  position: relative;
}
.navigation-menu ul li ul {
  display: none;
  padding-top: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  width: 150px;
}
.navigation-menu ul li:hover ul {
  display: block;
}

body, html {
  font-size: 16px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.all-caps {
  text-transform: uppercase;
}

.large {
  font-size: 1.1em;
}
.xl {
  font-size: 1.33em;
  line-height: 1.4em;
}

.text-normal {
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

.paragraph {
  font-size: 19px;
  line-height: 1.7em;
  -webkit-font-smoothing: antialiased;
}
.paragraph ol {
  list-style: decimal;
  margin-left: 20px;
  padding-left: 20px;
}
.paragraph ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 20px;
}
.paragraph > * + * {
  margin-top: 20px;
}
.paragraph > *.flush-bottom + * {
  margin-top: 2px;
}
.paragraph.short > * + * {
  margin-top: 2px;
}

form input[type=text] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 1em;
  height: 40px;
  padding: 10px 15px;
  width: 100%;
}
form input[type=search] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 1em;
  height: 40px;
  padding: 10px 15px;
  width: 100%;
}
form input[type=email] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 1em;
  height: 40px;
  padding: 10px 15px;
  width: 100%;
}
form input[type=password] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 1em;
  height: 40px;
  padding: 10px 15px;
  width: 100%;
}
form input[type=number] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 1em;
  height: 40px;
  padding: 10px 15px;
  width: 100%;
}
form input[type=tel] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 1em;
  height: 40px;
  padding: 10px 15px;
  width: 100%;
}
form textarea {
  max-height: 200px;
}
form .button, form input[type=button],
form input[type=submit], form button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: #fff !important;
  border: 1px solid;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  color: #000 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  overflow: hidden !important;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  width: auto;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .hide-tablet {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }

  .mobile-text-center {
    text-align: center;
  }

  .mobile-text-right {
    text-align: right;
  }
}

/*# sourceMappingURL=base.css.map */
