body, html {
	font-size: 16px;
	font-family: 'Libre Franklin', sans-serif;
	color: #000;
	font-weight: 400;
}

.body-color {
	color: #707070;
}

.serif {
	font-family: 'Domine', serif;
	line-height: 1.4em;
}

.script {
	font-family: 'Kalam', Brush Script;
}

h2 {
	color: #343796;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 21px;
}

h2.script {
	font-weight: normal;
	font-size: 38px;
	font-weight: bold;
}

h3 {
	color: #343796;
	font-weight: 600;
	font-size: 36px;
	font-family: 'Domine', serif;
}

.container.wide {
	max-width: 1210px;
}

header {
	background: #343796;
	color: #fff;
	padding: 18px;
}

header a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

header {
	line-height: 0;
}

header .grid {
	border: 2px solid #fff;
	margin-top: 15px;
}

section.blue {
	background: #343796;
	color: #fff;
}

#back {
	display: inline-block;
	margin-top: 14px;
	margin-bottom: 4px;
}

#headline {
	max-width: 400px;
}

.full .container {
	max-width: 100%;
	padding: 0;
}

.centered .container .paragraph > * {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 430px;
}

.centered .container .paragraph > form {
	max-width: 350px;
}

form .serif {
	margin-bottom: 20px;
}

.full .container .paragraph > * {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.pt {
	padding-top: 90px;
}

.pts {
	padding-top: 50px;
}

.pbs {
	padding-bottom: 50px;
}

.pb {
	padding-bottom: 90px;
}

.tile.padded {
	padding-top: 30px;
	padding-bottom: 30px;
}

.tile.blue {
	color: #fff;
	padding: 60px 40px !important;
}

.tile.blue:before {
	width: 100%;
	max-width: 400px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	z-index: -1;
	content: '';
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	background: #231E61;
}

.tight > * {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

form input[type=text] {
	background: transparent;
	outline: none;
	-webkit-border-radius: 0 !important;
	        border-radius: 0 !important;
	border: 2px solid #fff;
	color: #FFF;
	font-size: 13px;
}

form input {
	margin-top: 17px;
}
	
form input.button {
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	padding: 15px 10px;
}

form .error {
	font-size: 0.8em;
	/*margin-top: -5px;*/
	/*margin-bottom: 5px;*/
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,0.7);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,0.7);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,0.7);
}

.paragraph ul {
	margin-left: 0;
}

.paragraph ul li {
	list-style: none;
	font-weight: bold;
	color: #343796;
	margin: 20px 0;
	position: relative;
	padding-left: 25px;
}

.paragraph ul li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/icon_star.png');
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
}

.grey {
	background: rgba(242, 242, 242, 1.00);
}

#nick_c, #nick_r {
	line-height: 0;
}


.paragraph .serif {
	font-size: 16px;
}


.paragraph .serif.xl {
	font-size: 22px;
	line-height: 1.7;
}


footer {
	background: #343796;
	padding: 25px 0 28px;
}

footer img {
	max-width: 175px;
}

@media only screen and (min-width: 768px) {
	#nick_r, #nick_c {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: flex-end;
		        align-items: flex-end;
	}

	#nick_c .paragraph {
		/*margin-top: 90px;*/
		-webkit-transform: translate(50%, -80px);
		   -moz-transform: translate(50%, -80px);
		    -ms-transform: translate(50%, -80px);
		     -o-transform: translate(50%, -80px);
		        transform: translate(50%, -80px);
	}

	#nick_r .paragraph {
		/*margin-top: 90px;*/
		-webkit-transform: translate(-50%, 80px);
		   -moz-transform: translate(-50%, 80px);
		    -ms-transform: translate(-50%, 80px);
		     -o-transform: translate(-50%, 80px);
		        transform: translate(-50%, 80px);
	}

	#nick_r {
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
	}

	#nick_c .paragraph {
		position: absolute;
		bottom: 50%;
		right: 0;
	}

	#nick_r .paragraph {
		position: absolute;
		bottom: 50%;
		left: 0;
	}

	.left-arrow, .right-arrow {
		position: relative;
	}
	
	.left-arrow:before {
		position: absolute;
		content: '';
		left: -80px;
		width: 100px;
		height: 80px;
		background: url('../img/arrow_left.svg') no-repeat;
		top: 10px;
		display: block;
	}

	.right-arrow:before {
		display: block;
		top: 8px;
		position: absolute;
		content: '';
		right: -70px;
		width: 100px;
		height: 80px;
		background: url('../img/arrow_right.svg') no-repeat;
	}

	#nick_r img, #nick_c img {
		max-width: calc(100% - 150px);
	}

	
	header #nicks {
		background: url('../img/hero_nicks.png') center bottom no-repeat;
		-webkit-background-size: auto 96% ;
		     -o-background-size: auto 96% ;
		        background-size: auto 96% ;
	}

	header #nicks img {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.pt {
		padding-top: 50px;
	}
	.pb {
		padding-bottom: 50px;
	}

	#nick_r {
		border-top: 1px solid #707070;
		margin-left: -20px;
		margin-right: -20px;
		width: calc(100% + 40px);
		padding-top: 30px;
	}

	.npm.tile {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.full .container .paragraph {
		padding-left: 20px;
		padding-right: 20px;
	}
}